<section class="header-iteration">
  <div class="grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Headers</h2>
      <p>The header is the start of the year in review experience and I like to have it start with something new, fresh and bold. Check out a series of the sketches and iterations for each year's header.</p>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y header-2019">
      <div class="cell medium-4">
        <img src="/img/headers/2019-yellow.jpg" alt="2019 neon yellow header">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2019-outline.jpg" alt="2019 header with outlined letters and a gradient">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2019-sketch.jpg" alt="Sketches of the 2019 header">
      </div>
      <div class="cell">
        <img src="/img/headers/2019-release.jpg" alt="2019 release header">
      </div>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y header-2020">
      <div class="cell medium-4">
        <img src="/img/headers/2020-circle.jpg" alt="2020 header with a giant gradient circle from the corner">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2020-corner.jpg" alt="2020 header with a small highlight circle on my logo">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2020-dark.jpg" alt="2020 header in dark mode">
      </div>
      <div class="cell">
        <img src="/img/headers/2020-release.jpg" alt="2020 release header">
      </div>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y header-2021">
      <div class="cell medium-4">
        <img src="/img/headers/2021-side.jpg" alt="2021 header with numbering and small lettering">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2021-grapefruit.jpg" alt="2021 header with stacked low opacity numbering">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2021-big.jpg" alt="2021 header with giant numbering">
      </div>
      <div class="cell">
        <img src="/img/headers/2021-release.jpg" alt="2021 release header">
      </div>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y header-2022">
      <div class="cell medium-4">
        <img src="/img/headers/2022-stack.jpg" alt="2022 header within a card with stacked lettering">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2022-words.jpg" alt="2022 header within a card with lettering">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2022-big-number.jpg" alt="2022 header within a full height card with numbering">
      </div>
      <div class="cell">
        <img src="/img/headers/2022-release.jpg" alt="2022 release header">
      </div>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y header-2023">
      <div class="cell medium-4">
        <img src="/img/headers/2023-cut.jpg" alt="2023 header with sliced numbering">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2023-half.jpg" alt="2023 header with abbreviated numbering">
      </div>
      <div class="cell medium-4">
        <img src="/img/headers/2023-sketch.jpg" alt="Sketches of 2023 headers">
      </div>
      <div class="cell">
        <img src="/img/headers/2023-release.jpg" alt="2023 release header">
      </div>
    </div>
  </div>
</section>