<header>
  <div class="grid-container grid-x">
    <div class="grid-x cell align-justify title-area align-middle">
      <div class="cell shrink">
        <div class="divider"></div>
      </div>
      <div class="logo cell shrink">
        <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
          {% capture location %}header{% endcapture %}
          {% include rehan-logo.svg %}
        </a>
      </div>
    </div>
    <div class="grid-x medium-8">
      <h1>
        <span class="making-of">The Making Of</span>
        <span class="yir">Year in Review</span></h1>
      <p>{{ site.description }}</p>
    </div>

  </div>
</header>
