<section class="hero" id="intro">
  <div class="grid-container">
    <div class="grid-x content-area">
      <div class="cell auto">
        <p class="hero-text">
          As the curtain draws to a close on 2023, let's look at the year as it unfolded. I moved to <span>Los Angeles</span>, designed some exciting new <span>filmmaking software</span>, and earned my first <span>film credit!</span> I participated in multiple industry events, deepening existing skills and acquiring some new ones. Launched a <span>design inspiration library</span> and took some amazing <span>photos</span> during my travels.
          {%- comment -%}might have to copy from config to get the highlight working{%- endcomment -%}
        </p>
      </div>
    </div>
  </div>
</section>
