<section class="hero" id="intro">
  <div class="grid-container">
    <div class="grid-x content-area grid-padding-x">
      <div class="cell auto">
        <img src="/img/2019-screen-light.jpg" alt="Screenshot of year in review 2019 page">
      </div>
      <div class="cell auto">
        <img src="/img/2020-screen-light.jpg" alt="Screenshot of year in review 2020 page">
      </div>
      <div class="cell auto">
        <img src="/img/2021-screen-light.jpg" alt="Screenshot of year in review 2021 page">
      </div>
      <div class="cell auto">
        <img src="/img/2022-screen-light.jpg" alt="Screenshot of year in review 2022 page">
      </div>
      <div class="cell auto">
        <img src="/img/2023-screen-light.jpg" alt="Screenshot of year in review 2023 page">
      </div>
    </div>
  </div>
</section>
