<section class="hero" id="intro">
  <div class="">
    <div class="grid-x content-area grid-padding-x">
      <div class="cell auto">
        <img src="/img/2019-screen-light.jpg" alt="Screenshot of year in review 2019 page">
      </div>
      <div class="cell auto">
        <img src="/img/2020-screen-light.jpg" alt="Screenshot of year in review 2020 page" class="lightmode-flip">
        <img src="/img/2020-screen-dark.jpg" alt="Screenshot of year in review 2020 page" class="darkmode-flip">

      </div>
      <div class="cell auto">
        <img src="/img/2021-screen-light.jpg" alt="Screenshot of year in review 2021 page" class="lightmode-flip">
        <img src="/img/2021-screen-dark.jpg" alt="Screenshot of year in review 2021 page" class="darkmode-flip">
      </div>
      <div class="cell auto">
        <img src="/img/2022-screen-light.jpg" alt="Screenshot of year in review 2022 page" class="lightmode-flip">
        <img src="/img/2022-screen-dark.jpg" alt="Screenshot of year in review 2022 page" class="darkmode-flip">
      </div>
      <div class="cell auto">
        <img src="/img/2023-screen-light.jpg" alt="Screenshot of year in review 2023 page" class="lightmode-flip">
        <img src="/img/2023-screen-dark.jpg" alt="Screenshot of year in review 2023 page" class="darkmode-flip">
      </div>
    </div>
  </div>
</section>
