<section class="hidden-mickey">
  <div class="grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2 class="year-callout">Hidden Mickey's <span class="year-badge">2022</span></h2>
      <p>When I joined Disney I thought I'd add a Disney classic to the year in review. See if you can find the 5 hidden Mickey's shown below.</p>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y">
      <div class="cell medium-6">
        <img src="/img/hidden-mickey/car.jpg" alt="Hidden Mickey in an interstate sign from the driving section of 2022">
      </div>
      <div class="cell medium-6">
        <img src="/img/hidden-mickey/chocolate.jpg" alt="Hidden Mickey from the farewell Pittsburgh section hidden in a chocolate bite">
      </div>
      <div class="cell medium-4">
        <img src="/img/hidden-mickey/web.jpg" alt="Hidden Mickey hidden in the address bar of the web section from 2022">
      </div>
      <div class="cell medium-4">
        <img src="/img/hidden-mickey/travel.jpg" alt="Hidden Mickey hidden in the photography section in the plane window">
      </div>
      <div class="cell medium-4">
        <img src="/img/hidden-mickey/new-job.jpg" alt="Hidden Mickey hidden as the image frame from the new job section">
      </div>
    </div>
  </div>
</section>