<section class="interactions-easter-egg">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Interactions & Easter Eggs</h2>
      <p>As the year in review became a reoccurring project each year it gained a home on my home page in 2021. Added a section to my home page in 2021 and a place in the footer.</p>
    </div>
    <div class="grid-x cell grid-padding-x grid-padding-y">
      <div class="cell medium-4">
        <img src="/img/movies-2021.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/movies-2021.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/movies-2021.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/movies-2021.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/movies-2021.jpg" alt="">
      </div>
    </div>
  </div>
</section>