<section class="interactions-easter-egg">
  <div class="grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Interactions & Easter Eggs</h2>
      <p>Fun little moments are a critical part of my work and my year in review is no exception. Each year I include a series of interaction, animations or an easter egg for a bit of delight.</p>
    </div>
    <div class="grid-x cell grid-padding-x grid-padding-y">
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <img src="/img/easter-eggs/2019-barcode.jpg" alt="Baggage tag barcode">
          <div class="corner-flag">'19</div>
        </div>
        <p class="image-caption">{% include external-link.html link="https://rehanbutt.com" content="rehanbutt.com " css-class="" %} encoded barcode</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Wowwee Emoji Hover">
            <source src="/img/easter-eggs/wowwee.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'19</div>
        </div>
        <p class="image-caption">Wowwee, a secret emoji</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Meow Hover Effect">
            <source src="/img/easter-eggs/2019-meow-hover.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'19</div>
        </div>
        <p class="image-caption">Meow to Chicago!</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Skills Tag Hover Interaction">
            <source src="/img/easter-eggs/skill-tags.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'20</div>
        </div>
        <p class="image-caption">Tag, tag, rainbow tag, you're it!</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Camera flash hover interaction">
            <source src="/img/easter-eggs/snap-hover.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">No flash photography 😛</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="No Capes Easter Egg">
            <source src="/img/easter-eggs/no-capes.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">"Metaman, express elevator! Dynaguy, snagged on takeoff! Splashdown, sucked into a vortex! No capes!"</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Knowledge color separation interaction">
            <source src="/img/easter-eggs/knowledge-hover.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">Color separation interaction</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Header typography stretch">
            <source src="/img/easter-eggs/typography-stretch.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">Springy & bouncy lettering</p>
      </div>

      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Particle Field">
            <source src="/img/easter-eggs/particles-footer.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">Particle field background element</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="File Cabinet Animation">
            <source src="/img/easter-eggs/file-cabinet.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">Filing away old projects</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Movie poster fan out interaction">
            <source src="/img/easter-eggs/poster-fan.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">Movie posters fanning out</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Popcorn spin and poster hover interaction">
            <source src="/img/easter-eggs/movie-hovers.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">Popping popcorn & a hiding poster</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Golden Ticket Hover Interaction">
            <source src="/img/easter-eggs/golden-ticket.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">Golden ticket reveal</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Jukebox and Records">
            <source src="/img/easter-eggs/jukebox.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">Glowing jukebox at night</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Chicago Cat Hover Effect">
            <source src="/img/easter-eggs/2023-cat-hover.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">Chicago Cat 2</p>
      </div>
      <div class="cell small-6 medium-4">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Hi Barbie">
            <source src="/img/easter-eggs/barbie.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">Hi Barbie!</p>
      </div>

    </div>
  </div>
</section>