<section class="movies">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2 class="year-callout">Movies<span class="year-badge">2021</span></h2>
      <p>As the year in review became a reoccurring project each year it gained a home on my home page in 2021. Added a section to my home page in 2021 and a place in the footer.</p>
    </div>
    <div class="grid-x cell grid-padding-x grid-padding-y">
      <div class="cell">
        <img src="/img/movies-2021.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/film-strip-iteration.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/first-watch-iteration.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/film-tiles.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/movie-webdev.jpg" alt="">
      </div>
    </div>
  </div>
</section>
{%- comment -%}good reference / template for future sections{%- endcomment -%}