<section class="new-home">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>New Home</h2>
      <p>As the year in review became a reoccurring project each year it gained a home on my home page in 2021. Added a section to my home page in 2021 and a place in the footer.</p>
    </div>
    <div class="cell">
      <img src="/img/home-section.jpg" alt="screenshot of the year in review section from rehanbutt.com">
    </div>
  </div>
</section>
{%- comment -%}good reference / template for future sections{%- endcomment -%}