<section class="sketch-production">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Sketch to Production</h2>
      <p>As the year in review became a reoccurring project each year it gained a home on my home page in 2021. Added a section to my home page in 2021 and a place in the footer.</p>
    </div>
    <div class="cell grid-x image-section grid-padding-x grid-padding-y">
      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/stickers-sketch-2019.jpg" alt="Sketch of sticker section from 2019">
          <div class="corner-flag">'19</div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="image-wrapper">
          <img src="/img/stickers-section-2019.jpg" alt="Screenshot of the sticker section from 2019">
          <div class="corner-flag">'19</div>
        </div>
        <p class="image-caption">The concept for the sticker section was inspired by the stickers on my laptop. All the stickers I designed .... </p>
      </div>


      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/covid-sketch-2020.jpg" alt="Sketch of healthcare section from 2020">
          <div class="corner-flag">'20</div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="image-wrapper">
          <img src="/img/covid-section-2020.jpg" alt="Screenshot of the healthcare section from 2020">
          <div class="corner-flag">'20</div>
        </div>
        <p class="image-caption">TODO write something here</p>
      </div>

      <!-- TODO add something from 2021 -->
      <!-- sketches in the sketchbook?? -->

      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/movie-sketch-2022.jpg" alt="Sketches from the movie section of 2022">
          <div class="corner-flag">'22</div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="image-wrapper">
          <img src="/img/movie-section-isolated.jpg" alt="Screenshot of the movie section from 2022">
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">TODO write something here</p>
      </div>

      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/fave-things-sketch-2023.jpg" alt="Sketches from the favorite things section of 2023">
          <div class="corner-flag">'23</div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="image-wrapper">
          <img src="/img/fave-things-section-2023.jpg" alt="Screenshot of the favorite things section from 2023">
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">TODO write something here</p>
      </div>

    </div>
  </div>
</section>