<section class="sketch-production">
  <div class="grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Sketch to Production</h2>
      <p>Ideas often start on paper or in a sketchbook. Here are a handful of elements from the sketch to the final result.</p>
    </div>
    <div class="cell grid-x image-section grid-padding-x grid-padding-y">
      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/stickers-sketch-2019.jpg" alt="Sketch of sticker section from 2019">
          <div class="corner-flag">'19</div>
        </div>
      </div>
      <div class="cell small-10 medium-4">
        <div class="image-wrapper">
          <img src="/img/stickers-section-2019.jpg" alt="Screenshot of the sticker section from 2019">
          <div class="corner-flag">'19</div>
        </div>
        <p class="image-caption">Inspired by the sticker bombed laptop, this section features stickers I designed over the years. </p>
      </div>
      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/covid-sketch-2020.jpg" alt="Sketch of healthcare section from 2020">
          <div class="corner-flag">'20</div>
        </div>
      </div>
      <div class="cell small-10 medium-4">
        <div class="image-wrapper">
          <img src="/img/covid-section-2020.jpg" alt="Screenshot of the healthcare section from 2020">
          <div class="corner-flag">'20</div>
        </div>
        <p class="image-caption">Working in healthcare in 2020 meant a lot of unknowns and several efforts to help our frontline workers, which surfaced this idea of badges or patches for each project.</p>
      </div>

      <!-- TODO add something from 2021 -->
      <!-- sketches in the sketchbook?? -->

      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/movie-sketch-2022.jpg" alt="Sketches from the movie section of 2022">
          <div class="corner-flag">'22</div>
        </div>
      </div>
      <div class="cell small-8 medium-4">
        <div class="image-wrapper">
          <img src="/img/movie-section-isolated.jpg" alt="Screenshot of the movie section from 2022">
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">Pop pop pop goes the movies!</p>
      </div>
      <div class="cell medium-8">
        <div class="image-wrapper">
          <img src="/img/fave-things-sketch-2023.jpg" alt="Sketches from the favorite things section of 2023">
          <div class="corner-flag">'23</div>
        </div>
      </div>
      <div class="cell small-10 medium-4">
        <div class="image-wrapper">
          <img src="/img/fave-things-section-2023.jpg" alt="Screenshot of the favorite things section from 2023">
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">"Raindrops on roses and whiskers on kittens, Bright copper kettles and warm woolen mittens, Brown paper packages tied up with strings, These are a few of my favorite things"</p>
      </div>
    </div>
  </div>
</section>