<section class="stamps">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2 class="year-callout">Stamps<span class="year-badge">2023</span></h2>
      <p>TODO UPDATE COPY When I joined Disney I thought I'd add a Disney classic of the hidden Mickey's throughout the year in review of that year. Here are the 5</p>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y">
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-dc.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-chicago.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-la.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-nyc.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-pittsburgh.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-zurich.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-colmar.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-schwangau.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-montreux.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-doha.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-abu-dhabi.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-istanbul.jpg" alt="">
      </div>
    </div>
  </div>
</section>