<section class="stamps">
  <div class="grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2 class="year-callout">Stamps<span class="year-badge">2023</span></h2>
      <!-- TODO update copy -->
      <p>TODO UPDATE COPY This year for all the major cities I visited I created a stamp that represented each location.</p>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y">
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-dc.jpg" alt="Passport style stamp for the District of Colombia">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-chicago.jpg" alt="Passport style stamp for Chicago">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-la.jpg" alt="Passport style stamp for Los Angeles">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-nyc.jpg" alt="Passport style stamp for New York City">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-pittsburgh.jpg" alt="Passport style stamp for Pittsburgh">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-zurich.jpg" alt="Passport style stamp for Zurich">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-colmar.jpg" alt="Passport style stamp for Colmar">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-schwangau.jpg" alt="Passport style stamp for Schwangau">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-montreux.jpg" alt="Passport style stamp for Montreux">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-doha.jpg" alt="Passport style stamp for Doha">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-abu-dhabi.jpg" alt="Passport style stamp for Abu Dhabi">
      </div>
      <div class="cell small-6 medium-4">
        <img src="/img/stamps/stamp-istanbul.jpg" alt="Passport style stamp for Istanbul">
      </div>
      <div class="cell">
        <img src="/img/travel-log-sketch-2023.jpg" alt="Sketches of the passport stamp general concept">
      </div>
      <div class="cell small-6 medium-6">
        <img src="/img/stamps/sketches-europe.jpg" alt="Sketches of the Montreux, Schwangau, Zurich and Colmar stamps">
      </div>
      <div class="cell small-6 medium-6">
        <img src="/img/stamps/sketches-me.jpg" alt="Sketches of the Abu Dhabi, Doha and Istanbul stamps">
      </div>
      <div class="cell small-6 medium-6">
        <img src="/img/stamps/sketches-us.jpg" alt="Sketches of the DC, NYC and Chicago stamps">
      </div>
      <div class="cell small-6 medium-6">
        <img src="/img/stamps/sketches-us2.jpg" alt="Sketches of the Pittsburgh and Los Angeles stamps">
      </div>
    </div>
  </div>
</section>