<section class="stamps">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2 class="year-callout">Stamps<span class="year-badge">2023</span></h2>
      <p>TODO UPDATE COPY This year for all the major cities I visited I created a stamp that represented each location.</p>
    </div>
    <div class="cell grid-x grid-padding-x grid-padding-y">
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-dc.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-chicago.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-la.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-nyc.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-pittsburgh.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-zurich.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-colmar.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-schwangau.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-montreux.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-doha.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-abu-dhabi.jpg" alt="">
      </div>
      <div class="cell medium-4">
        <img src="/img/stamps/stamp-istanbul.jpg" alt="">
      </div>
      <div class="cell">
        <img src="/img/travel-log-sketch-2023.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/stamps/sketches-europe.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/stamps/sketches-me.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/stamps/sketches-us.jpg" alt="">
      </div>
      <div class="cell medium-6">
        <img src="/img/stamps/sketches-us2.jpg" alt="">
      </div>
    </div>
  </div>
</section>