<section class="stats">
  <div class="grid-x music-stat align-justify">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Music Over the Years</h2>
      <p>Apple Music Replay first launched in at the end of 2019, Just out of reach to be included in my first year in review. For following years I used the stats they provided to help generate a unique music section each year.</p>
    </div>
    <div class="cell stat-table medium-5">
      {% assign array-list = "(2019|—|Not Tracked),(2020|527hrs|—),(2021|564hrs|7% Increase),(2022|327hrs|42% Decrease),(2023|214hrs|34% Decrease)" | remove: "(" | remove: ")" | split: ',' %}
      {% for item in array-list %}
      {% assign each = item | split: '|' %}
        <div class="stat-row grid-x cell align-justify align-middle">
          <h3 class="cell medium-2">{{each[0]}}</h3>
          <p class="cell auto number-area">
            {{each[1]}}
            {%- if {{each[2]}} contains 'De' -%}
            {%- include_relative img/icons/caret-down.svg -%}
            {%- elsif {{each[2]}} contains 'In' -%}
            {%- include_relative img/icons/caret-up.svg -%}
            {%- endif -%}
          </p>
          <p class="cell shrink stat-description">{{each[2]}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-x movie-stat align-justify">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Movies Over the Years</h2>
      <p>Every year I try to generate a new way to visualize each section and add some new content over the years. Some sections, like this one requires quite a bit of prep to track each film watched. In 2021, I started a film log to help bring this section to life.</p>
    </div>
    <div class="cell stat-table medium-5">
      {% assign array-list = "(2019|—|Not Tracked),(2020|—|Not Tracked),(2021|161|—),(2022|120|25% Decrease),(2023|185|54% Increase)" | remove: "(" | remove: ")" | split: ',' %}
      {% for item in array-list %}
      {% assign each = item | split: '|' %}
        <div class="stat-row grid-x cell align-justify align-middle">
          <h3 class="cell medium-2">{{each[0]}}</h3>
          <p class="cell auto number-area">
            {{each[1]}}
            {%- if {{each[2]}} contains 'De' -%}
            {%- include_relative img/icons/caret-down.svg -%}
            {%- elsif {{each[2]}} contains 'In' -%}
            {%- include_relative img/icons/caret-up.svg -%}
            {%- endif -%}
          </p>
          <p class="cell shrink stat-description">{{each[2]}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-x code-stat align-justify">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Code Over the Years</h2>
      <p>With any software project many lines of code are needed to bring it to life. Over the years, I have experimented with new ways to implement sections and standardize others.</p>
    </div>
    <div class="cell stat-table medium-5">
      {% assign array-list = "(2019|382333|—),(2020|228660|40% Decrease),(2021|116867|48% Decrease),(2022|195818|67% Increase),(2023|164246|16% Decrease)" | remove: "(" | remove: ")" | split: ',' %}
      {% for item in array-list %}
      {% assign each = item | split: '|' %}
        <div class="stat-row grid-x cell align-justify align-middle">
          <h3 class="cell medium-2">{{each[0]}}</h3>
          <p class="cell auto number-area">
            {{each[1]}}
            {%- if {{each[2]}} contains 'De' -%}
            {%- include_relative img/icons/caret-down.svg -%}
            {%- elsif {{each[2]}} contains 'In' -%}
            {%- include_relative img/icons/caret-up.svg -%}
            {%- endif -%}
          </p>
          <p class="cell shrink stat-description">{{each[2]}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid-x pixel-stat align-justify">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Pixels Over the Years</h2>
      <p>Desiring a new way to visualize each section, each year comes with many mockups. Many frames, artboards, canvas, and iterations generate a ton of pixels, all helping to conceptualize what will be shared each year.</p>
    </div>
    <div class="cell stat-table medium-5">
      {% assign array-list = "(2019|111303360|—),(2020|272079360|145% Increase),(2021|250057440|8% Decrease),(2022|239088960|4% Increase),(2023|310777920|30% Increase)" | remove: "(" | remove: ")" | split: ',' %}
      {% for item in array-list %}
      {% assign each = item | split: '|' %}
        <div class="stat-row grid-x cell align-justify align-middle">
          <h3 class="cell medium-2">{{each[0]}}</h3>
          <p class="cell auto number-area">
            {{each[1]}}
            {%- if {{each[2]}} contains 'De' -%}
            {%- include_relative img/icons/caret-down.svg -%}
            {%- elsif {{each[2]}} contains 'In' -%}
            {%- include_relative img/icons/caret-up.svg -%}
            {%- endif -%}
          </p>
          <p class="cell shrink stat-description">{{each[2]}}</p>
        </div>
      {% endfor %}
    </div>
  </div>

</section>