<section class="webdev">
  <div class="grid-container grid-x">
    <div class="cell divider-container">
      <div class="divider"></div>
    </div>
    <div class="cell text-content medium-6">
      <h2>Web Dev</h2>
      <p>TODO update content.... As the year in review became a reoccurring project each year it gained a home on my home page in 2021. Added a section to my home page in 2021 and a place in the footer.</p>
    </div>
    <div class="grid-x cell grid-padding-x grid-padding-y">
      <div class="cell medium-6">
        <div class="image-wrapper">
          <img src="/img/webdev/cssgrid.jpg" alt="CSS Grid Layout">
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">Playing with {% include external-link.html link="https://codepen.io/naher94/pen/oNemOVy" content="CSS Grid" css-class="" %} for use in the Github section</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="horizontal scroll test">
            <source src="/img/webdev/horizontal-scroll.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'21</div>
        </div>
        <p class="image-caption">{% include external-link.html link="https://codepen.io/naher94/pen/JjWKwmv" content="Horizontal scroll" css-class="" %} test for the movie section</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <img src="/img/webdev/interstate-sign.jpg" alt="Interstate Sign Illustration">
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">{% include external-link.html link="https://codepen.io/naher94/pen/OJZOzYj?editors=1100" content="Interstate Road Sign Code Snippet" css-class="" %}</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <img src="/img/webdev/cssgrid-lines.jpg" alt="CSS Grid Layout with Borders">
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">Playing with {% include external-link.html link="https://codepen.io/naher94/pen/XWYyGxO" content="CSS Grid Linework" css-class="" %} for use in the miles driven section</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <img src="/img/webdev/movie-ticket.jpg" alt="Multicolored movie tickets clipping path exploration">
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">Playing with {% include external-link.html link="https://codepen.io/naher94/pen/NWzmpZX" content="clipping paths" css-class="" %} for the movies section</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Airplane window shade">
            <source src="/img/webdev/plane-window.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'22</div>
        </div>
        <p class="image-caption">{% include external-link.html link="https://codepen.io/naher94/pen/xxPYvMO" content="Plane window" css-class="" %} interaction for the photography section</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <video autoplay loop muted playsinline width="100%" title="Scaling type text">
            <source src="/img/webdev/scaling-type.mp4" type="video/mp4">
          </video>
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">{% include external-link.html link="https://codepen.io/naher94/pen/YzRpgzw?editors=1100" content="Scaling type" css-class="" %} test for the footer</p>
      </div>
      <div class="cell medium-6">
        <div class="image-wrapper">
          <img src="/img/webdev/overlapping-type.jpg" alt="Overlapping text test">
          <div class="corner-flag">'23</div>
        </div>
        <p class="image-caption">{% include external-link.html link="https://codepen.io/naher94/pen/xxQVoBY" content="Overlapping type" css-class="" %} test for the header</p>
      </div>
    </div>
  </div>
</section>